/* This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You can find a copy of the GNU General Public License at
 * <https://www.gnu.org/licenses/>.
 * */

@font-face {
	font-display: fallback;
	font-family: 'Integral';
	font-style: normal;
	font-weight: 900;
	src: url('/integral-cf-heavy.woff2') format('woff2');
}

/* Reset */
*,:after,:before{box-sizing:border-box}blockquote,body,dd,dl,figure,h1,h2,h3,h4,li,p{margin:0}ol[class],ul[class],nav ul{margin:0;padding:0;list-style:none}button,code,input,pre,select,textarea{color:inherit;font:inherit;letter-spacing:inherit;word-spacing:inherit}button{cursor:pointer}code{font-family:monospace}body{min-height:100vh;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizeLegibility;display:flex;flex-direction:column}a[target='_blank']{cursor:alias}a[target='_blank']::after{content:'\202F\279A'}

:root {
	--c-bg: #fafdff;
	--c-bg-strong: var(--cbg);
	--c-fg: #0e131a;
	--c-fg-muted: rgba(14, 19, 26, 0.72);
	--c-highlight: #f9c221;
}
@media (prefers-color-scheme: dark) {
	:root {
		--c-bg: #100d09;
		--c-bg-strong: #020100;
		--c-fg: #f8f5f3;
		--c-fg-muted: rgba(255, 254, 252, 0.72);
	}
}
html {
	background: var(--c-fg);  /* Overscroll. */
}
body {
	font: 20px 'Georgia', 'Times New Roman', Times, serif;
	color: var(--c-fg);
	background: var(--c-bg);
}
.intro, .big, h2 {
	font-size: 26px;
}
h1, h2, footer {
	font-family: 'Integral', 'Arial Black', sans-serif;
}
h1 {
	color: var(--c-fg);
	display: flex;
	margin: 0;
	line-height: 1em;
	margin-left: -0.84%;
	padding: 0 7%;
	font-weight: 900;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	visibility: hidden;
}
h1.show {
	visibility: visible;
}
h1 .outer {
	display: block;
}
h1 .inner {
	display: inline-block;
	transform-origin: top left;
	white-space: nowrap;
}
h1 .cursor {
	visibility: hidden;
}
h1 .outer + .outer .cursor {
	visibility: visible;
}
h1.deleted .cursor {
	visibility: visible;
}
h1.deleted .outer + .outer .cursor {
	visibility: hidden;
}
.no-js-motion h1 {
	margin-top: 0 !important;
}
.no-js-motion h1 > .outer + .outer {
	display: none;
}
h2 {
	margin: 2em 0 0.7em;
}
h2::after, h3::after, h4::after, .cursor::after {
	content: '_';
	animation: blink 1s steps(5, start) infinite;
}
h3, summary {
	font-size: 24px;
	font-weight: normal;
	margin: 1.5em 0 1em;
}
summary h3 {
	display: inline;
	line-height: 1.5;
}
.next-date::after {
	content: '';
	animation: none;
}
::selection {
	color: var(--c-bg);
	background: var(--c-fg);
}
a {
	color: inherit;
	background-image: linear-gradient(var(--c-fg), var(--c-fg));
	background-position: -999900%;
	background-repeat: no-repeat;
	background-size: 99.99% 100%;
	transition: none;
}
a:hover, a:focus {
	color: var(--c-fg-muted);
	background-position: 1000000%;
	transition: background-position 1.6s cubic-bezier(0.3, 1, 0.7, 0), color 0s 0.8s;
}
p {
	line-height: 1.5;
	margin-bottom: 1em;
}
h2, h3, h4 {
	position: relative;
}
p + ul > li:first-child {
	margin-top: 0;
}
li {
	margin: 1.5em 0;
	line-height: 1.5;
}
sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sup a {
	font: 0.7em Arial sans-serif;
	vertical-align: middle;
	padding: 0.1em;
	top: 0.05em;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	margin-top: 20px;
	padding: 40px 7%;
	max-width: 100%;
}
hr {
	display: none;
	border: 0;
	height: 1px;
	margin: 60px 0;
	background-image: linear-gradient(to right, transparent, var(--c-fg-muted), transparent);
}
.wavy {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 1px;
}
.intro { grid-area: 2 / 1 / 2 / 1; min-width: 0; }
.intro p:last-child {
	margin-bottom: 0;
}
.next-date { grid-area: 1 / 1 / 1 / 1; min-width: 0; }
.intro { grid-area: 2 / 1 / 2 / 1; }
.content-1 { grid-area: 3 / 1 / 3 / 1; }
nav {
	grid-area: 4 / 1 / 4 / 1;
	padding-left: 2em;
	position: relative;
	margin: -60px 0 -50px;
}
.content-2 { grid-area: 5 / 1 / 5 / 1; }
.content-1 > :first-child {
	margin-top: 0;
}
.next-date, .disclaimer, footer {
	padding: 18px 24px 24px;
}
.next-date, .disclaimer {
	color: var(--c-fg);
	background: var(--c-highlight);
	margin: 0 0 10px;
}
.next-date::selection, .next-date ::selection, .disclaimer::selection, .disclaimer ::selection {
	color: var(--c-fg);
	background: var(--c-bg);
}
.disclaimer {
	margin: 1.5em 0;
}
.full-justify .line {
	display: block;
	text-align: justify;
	text-align-last: justify;
}
.full-justify .word {
	display: flex;
	justify-content: space-between;
}
.full-justify .stretch {
	width: calc(100% + 8px);
	letter-spacing: 8px;
}
blockquote {
	font-style: italic;
	padding-left: 2em;
	position: relative;
}
nav::before, blockquote::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	background-image: linear-gradient(to top, transparent, var(--c-fg-muted), transparent);
}
nav ul ul {
	margin-left: 2em;
}
nav li {
	margin: 1em 0;
}
nav ul ul li {
	margin: 0.5em 0;
}
nav a {
	text-decoration: none !important;
}
.home-link {
	display: none;
}
.tools-link::after, .home-link::before {
	content: '⌫';
	position: absolute;
}
.tools-link::after {
	transform: scaleX(-1) translateX(-50%);
}
.home-link::before {
	transform: translateX(-50%);
	left: -1em;
}
.header-link {
	position: absolute;
	right: 100%;
	padding-right: 6px;
	display: none;
}
summary {
	cursor: pointer;
	list-style-position: outside;
	margin-left: 1em;
}
summary .header-link {
	padding-right: 28px;
}
summary + p {
	margin-top: 0.5em;
}
details p {
	margin-left: 22px;
}
.header-link::before {
	content: none;
}
h2:hover .header-link, h3:hover .header-link, h4:hover .hover-link {
	display: block;
}
footer {
	align-items: center;
	background: var(--c-fg);
	color: var(--c-bg);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 40px;
	margin-top: auto;
}
footer > * {
	margin: 16px;
}
footer a {
	text-decoration-thickness: 0.2em;
}
footer a:hover, footer a:focus {
	color: inherit;
	background: none;
	text-decoration-skip-ink: none;
	text-underline-offset: -0.45em;
	transition: none;
}
.copyright:hover .copy-year, .copyright:focus .copy-year {
	text-decoration-skip-ink: none;
	text-underline-offset: -0.45em;
}
.countdown {
	order: -1;
	text-align: center;
	width: 100%;
}
.copyright {
	text-decoration: none !important;
}
.copyleft {
	position: relative;
	top: 3px;
	display: inline-block;
	font-size: 2em;
	vertical-align: middle;
	transform: rotateY(180deg);
}
.copy-year {
	text-decoration: underline;
	text-decoration-thickness: 0.2em;
	vertical-align: middle;
	display: inline-block;
}
@media screen and (min-width: 540px) {
	body {
		border: 24px solid var(--c-fg);
	}
	footer {
		flex-direction: row;
		padding: 24px 0 0;
		margin-left: -16px;
		margin-right: -16px;
	}
	footer > * {
		margin: 0 16px;
	}
	.countdown {
		order: 0;
		width: auto;
	}
}
@media screen and (max-width: 482px) {
	.hard-break {
		display: none;
	}
}
@media screen and (min-width: 860px) {
	.hard-break {
		display: none;
	}
}
@media screen and (max-width: 1079px) {
	.full-justify {
		text-align: center;
		text-align-last: center;
	}
	.full-justify .line, .full-justify .word {
		display: inline;
	}
	.full-justify .stretch {
		letter-spacing: unset;
	}
}
@media screen and (min-width: 1080px) {
	.intro { grid-area: 1 / 1 / 2 / 3; }
	.next-date { grid-area: 2 / 1 / 3 / 2; margin-bottom: -20px; }
	nav {
		grid-area: 3 / 1 / 4 / 2;
		position: sticky;
		top: 20px;
		padding: 6px 0 0;
		margin: 0;
	}
	.content-1 { grid-area: 2 / 2 / 5 / 3; margin-top: -7px; }
	.content-2 { grid-area: 5 / 2 / 6 / 3; margin-top: -7px; }
	main {
		grid-template-columns: 280px 1fr;
		grid-row-gap: 40px;
	}
	nav::before {
		display: none;
	}
	hr {
		display: block;
	}
	nav ul ul {
		margin-left: 1em;
	}
}
@media screen and (min-width: 1600px) {
	main {
		grid-template-columns: 280px 1fr 280px;
	}
}
@media (prefers-color-scheme: dark) {
	html {
		background: var(--c-highlight);
	}
	body {
		border-color: var(--c-highlight);
	}
	h1 {
		color: var(--c-highlight);
	}
	.next-date, .disclaimer {
		color: var(--c-bg-strong);
	}
	footer {
		background: var(--c-highlight);
	}
}
@media (prefers-reduced-motion: reduce) {
	h2::after, h3::after, h4::after, .cursor::after {
		content: '';
		animation: none;
	}
	a:hover, a:focus {
		text-decoration: line-through;
	}
}
@keyframes blink {
	to {
		visibility: hidden;
	}
}
